// Base
@import "./base/reset";
@import "./base/variables";
@import "./base/mixin";
@import "./base/base";

:root {
    --wave-lg: 150px;
    --wave-md: 100px;
    --wave-sm: 50px;
}

// Home Start
.home {
	width: 100%;
	height: 100vh;
    overflow-x: hidden;

	.swiper {
		width: 100%;
		height: 100vh;
		position: absolute;
		z-index: -1;
	  }
  
	  .swiper__bg1{
		background-image: url(../img/home/home__bg1.jpg);
		background-size: cover;
	  }
	  .swiper__bg2{
		background-image: url(../img/home/home__bg2.jpg);
		background-size: cover;
	  }
	  .swiper__bg3{
		background-image: url(../img/home/home__bg3.jpg);
		background-size: cover;
	  }


	&__header {
		width: 100%;
		height: 180px;
		padding: 0 60px;
		
		@include display-center(space-between, center);
		background-image: url(../img/home/header.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 2 !important;
        padding-bottom: 55px;

		&-nav {
			width: 33.333%;
			ul {
				@include display-center(flex-start, center);
				@include font($white, 24px, 500, normal, normal);
				gap: 50px;

				li {
					@include display-center(flex-start, center);
					cursor: pointer;
					gap: 15px;
					transition: 0.5s;


					.round {
						width: 15px;
						height: 15px;
						background-color: $white;
						border-radius: 50%;
						transition: 0.5s;

					}

					&:hover {
						color: $main;
						transition: 0.5s;

						.round {
							background-color: $main;
							transition: 0.5s;
						}
					}

				}
			}
		}

		&-left {
			@include display-center(flex-start, center);
		}

		&-logo {
			width: 33.333%;
			@include display-center(center, center);
		}

		&-rigth {
			@include display-center(flex-end, center);
		}
        
        &-burger {
            display: none;
        }
	}

	&__main {
		width: 100%;
		height: calc(90vh - 180px);
		@include display-center(center, center);
        flex-direction: column;

		&-container {
			width: 100%;
            height: 300px;
			@include display-center(center, center);
			flex-direction: column;

            .visualaiser__container{
                width: 100%;
                position: absolute;
                z-index: 0;
                        .sound-wave {
                          width: 100%;
                          height: 60px;
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          z-index: 20;
    
                    
                        }
                        .bar {
                          animation-name: wave-lg;
                          animation-iteration-count: infinite;
                          animation-timing-function: ease-in-out;
                          animation-direction: alternate;
                          background: $main; 
                          margin: 0 1.5px;
                          width: 6px; 
                          z-index: 20;
            
                      
                          &:nth-child(-n + 7),
                          &:nth-last-child(-n + 7) {
                            animation-name: wave-md;
                          }
                      
                          &:nth-child(-n + 3),
                          &:nth-last-child(-n + 3) {
                            animation-name: wave-sm;
                          }
                        }
                      }

    
                      
                      @keyframes wave-sm {
                        0% {
                          opacity: 0.35;
                          height: 40px;
                        }
                        100% {
                          opacity: 1;
                          height: var(--wave-sm);
                        }
                      }
                      
                      @keyframes wave-md {
                        0% {
                          opacity: 0.35;
                          height: 15px;
                        }
                        100% {
                          opacity: 1;
                          height: var(--wave-md);
                        }
                      }
                      
                      @keyframes wave-lg {
                        0% {
                          opacity: 0.5;
                          height: 15px;
                        }
                        100% {
                          opacity: 1;
                          height: var(--wave-lg);
                        }
                      }


			.home__play {
				width: 230px;
				height: 230px;
				border: 2px solid $white;
				@include display-center(center, center);
				border-radius: 50%;
				cursor: pointer;
                user-select: none;
				z-index: 2;

				&-box {
					width: 160px;
					height: 160px;
					border-radius: 50%;
					background-color: rgba($color: #fff, $alpha: 0.4);
					@include display-center(center, center);
					border: 2px solid $white;

					.play__btn {
						width: 100px;
						height: 100px;
						background-color: $main;
						border-radius: 50%;
						@include display-center(center, center);
                    

						img {
							width: 50px;
							height: 50px;
						}

					}
					
				}
			}

		}

        &-title {
            width: 100%;
            padding: 0 60px;
			@include font($white, 48px, 700, normal, 4.8px);
            margin-top: 50px;
            text-align: center;
        }

        &-descripton {
            width: 100%;
            padding: 0 60px;
			@include font($white, 32px, 300, normal, 4.8px);
            margin-top: 10px;
            text-align: center;
        }

        &-voice {
            width: 100%;
            height: 200px;
            background-color: $main;

        }
	}

	.home__voice {
        width: 100%;
        height: 10vh;
        @include display-center(center, flex-end);
        flex-direction: column;
        padding: 0 60px;

        &-box {
            width: 50px;
            height: 50px;
            background-color: $transparent-main;
            border-radius: 10px;
            z-index: 2;
            @include display-center(center, center);
            cursor: pointer;

        }

        &-animation {
            width: 50px;
            height: 150px;
            border-radius: 10px;
            position: absolute;
            cursor: pointer;
            display: none;

            &-main {
                width: 50px;
                height: 150px;
                background-color: $transparent-main;
                border-radius: 10px;
                position: relative;
                bottom: 105px;
                @include display-center(center, center);
                cursor: pointer;

               #volme__input {
                border-radius: 8px;
                height: 3px;
                width: 150px;
                outline: none;
                -webkit-appearance: none;
                transform: rotate(-90deg);
                cursor: pointer;

              }
              
              input[type='range']::-webkit-slider-thumb {
                width: 18px;
                -webkit-appearance: none;
                height: 18px;
                background: #fff;
                border-radius: 50%;
                cursor: pointer;

              }

                
            }
        }

        &-animation--oepn {
            display: block;
            .home__voice-animation-main {
                animation-name: volme;
                animation-duration: 0.5s;
                animation-iteration-count: 1;

                @keyframes volme {
                    0% {
                        position: relative;
                        bottom: 50px;
                        opacity: 0;
                    }
                    100% {
                        position: relative;
                        bottom: 105px;
                        opacity: 1;
                    }
                }
            }
        }


        &-animation--close {
            display: block;
            .home__voice-animation-main {
                animation-name: volme2;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
                opacity: 0;

                @keyframes volme2 {
                    0% {
                        position: relative;
                        bottom: 105px;
                        opacity: 1;
                    }
                    100% {
                        position: relative;
                        bottom: 50px;
                        opacity: 0;
                    }
                }
            }
        }
        

        
    }
}
// Home End



// Schedule Start
.schedule {
    position: relative;
    
    padding: 140px 0 140px 60px;

    background-image: url(./../img/main/spiral.svg);
    background-repeat: no-repeat;
    background-position: top 60% right -80%;
    background-size: auto 700px;


    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    &__wrapper {
        @include display-center(space-between, center);
        column-gap: 100px;
        z-index: 4;
    
        .schledule__content {
            &-title {
                margin-bottom: 20px;
                @include font($black, 36px, 600, normal, 0);
            }

            &-description {
                margin-bottom: 50px;
                max-width: 640px;
                @include font($black-light, 20px, 500, normal, 0);
            }

            &-btn {
                position: relative;
                overflow: hidden;
                width: 400px;
                height: 76px;
                transition: .5s;


                &:hover {
                    transition: .5s;

                    .schledule__content-btn-circle {
                        transition: .5s;
                        border: 10px solid #ddd;
                    }
                }

                &-circle {
                    position: absolute;
                    top: -25px;
                    right: -25px;
                    width: 68px;
                    height: 68px;
                    border: 10px solid $white;
                    border-radius: 50%;
                }
            }
        }

        
        .schedule__box-wrapper {

            width: 50%;
            position: relative;
            overflow-x: auto;
            display: flex;
            align-items: end;
            
            .schedule__box-line {
                position: absolute;
                top: 20px;
                // left: 0;
                height: 470px;
                width: 5px;
                background-color: $main;
                border-radius: 10px; 
                
                &--right {
                    display: none;
                }
            }

            .schedule__box {
                width: 100%;
                padding: 20px 60px 20px 20px;
                border-left: $main;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 30px;
                overflow-x: auto;

                &::-webkit-scrollbar {
                    margin: 0 60px 0 20px;
                    height: 8px;
                }
                
                &::-webkit-scrollbar-track {
                    margin: 0 60px 0 20px;
                    background: #ddd;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                    margin: 0 60px 0 20px;
                    background: $main;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb:hover {
                    margin: 0 60px 0 20px;
                    background: #a60101;
                }


                .schedule__card {
                    padding: 20px;
                    width: 550px;
                    height: 220px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
                    background-color: $white;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;


                    &__title-container {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        column-gap: 15px;

                        @include font($black, 20px, 500, normal, 0);

                        .schedule__card__title-circle {
                            min-width: 30px;
                            min-height: 30px;
                            border-radius: 50%;
                            border: 10px solid $main;
                        }
                    }


                    &-description {
                        margin-left: 45px;
                        @include font(rgba(0, 0, 0, 0.60), 16px, 500, normal, 0);
                    }

                    &-repeat {
                        margin-left: 45px;
                            @include font($black, 16px, 500, normal, 0);

                        &--bold {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

    }

    
    &__cta {
        display: none;
        margin-top: 30px;
        @include font($black, 24px, 500, normal, 0);
        text-align: center;
    }
}

// Schedule End



// About Us Start
.about-us {
    width: 100%;
    height: 100%;
    padding: 140px 60px;
    margin-bottom: 140px;

    background-image: url(../img/about-us/about-us__bg.jpg);
    background-size: cover;
    @include display-center(center, center);
    flex-direction: column;

    &__title {
        @include font($white, 48px, 700, normal, normal);
    }

    &__destiption {
        @include font($white, 24px, 500, normal, normal);
        margin-top: 25px;
        text-align: center;
    }
    a {
        margin-top: 50px;
        img {
            width: 360px;
            height: 120px;
        }
    }
}
// About Us End



// Team Start
.team {
    padding: 0 60px 140px;

    background-image: url(./../img/main/spiral.svg);
    background-repeat: no-repeat;
    background-position: center left -60%;

    &__title {
        text-align: center;
        margin-bottom: 80px;
    }


    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 50px;        
        column-gap: 40px;

        .team__member {
            width: 310px;
            height: 430px;
            border-radius: 10px;
            background:$white;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);

            @include  display-center(start, center);
            flex-direction: column;

            &-picture {
                width: 100%;     
                border-radius: 10px 10px 0px 0px;
            }

            &-position {
                text-align: center;
                margin-top: 15px;
                @include font(rgba(0, 0, 0, 0.60), 16px, 500, normal, 0);
            }

            &-name {
                margin-top: 10px;
                @include font($black, 22px, 600, normal, 0);
            }

            &-instagram {
                margin-top: 25px;
                @include font($main, 20px, 600, normal, 0);
                transition: .5s;

                &:hover {
                    transition: .5s;
                    color: #a60101;
                }
            }
        }
    }   
}
// Team End



// Partners Start
.partners {
    width: 100%;
    height: 100%;
    padding: 0px 60px;
    margin-bottom: 140px;
    @include display-center(flex-start, center);
    flex-direction: column;


    &__box {
        width: 100%;
        height: auto;
        margin-top: 50px;
        .owl-carousel {
            width: 100%;
        }
    }

}
// Partners End



// Footer Start
.footer {
    position: relative;
    padding: 120px 0 30px;
    
    background-color: $black;

    &__ui-element {
        width: 100%;
        height: 180px;

        position: absolute;
        bottom: 0;

        background-image: url(../img/footer/footer__ui-element.svg);
        background-repeat: no-repeat;
        background-position: bottom 0 center;
        background-size: contain;
    }

    &__wrapper {
        padding: 0 60px 140px;
        @include display-center(space-between, start);
        flex-wrap: wrap;
        border-bottom: 2px solid $white;
        column-gap: 60px;
        row-gap: 80px;

        
        .footer__info {
            margin-top: -58px;
            &-logo {
                margin-bottom: 10px;
                width: 300px;
                cursor: pointer;
            }

            &-description {
                max-width: 470px;
                @include font($white, 24px, 500, normal, 0);
            }
        }

        .footer__list {
            &-title {
                margin-bottom: 40px;
                @include font($white, 32px, 700, normal, 0);
            }

            .footer__item {
                margin-bottom: 15px;
                @include font($white, 24px, 500, normal, 0);
                cursor: pointer;
                transition: .5s;

                .footer__contact {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    color: $white;
                    transition: .5s;
    
                    & svg path {
                        transition: .5s;
                    }
                }

                &:hover {
                    transition: .5s;
                    color: $main;

                    & .footer__contact {
                        color: $main; 
                        transition: .5s;

                        & svg path {
                            fill: $main;
                            transition: .5s;
                        }
                    }
                }
            }



            .social-media {
                margin-top: 25px;
                display: flex;
                align-items: center;
                column-gap: 15px;

                &__box {
                    width: 44px;
                    height: 44px;
                    background-color: $white;
                    border-radius: 50%;
                    @include display-center(center, center);
                    cursor: pointer;
                    transition: .5s;


                    & svg path {
                        transition: .5s;
                    }

                    &:hover {
                        transition: .5s;
                        background-color: $main;

                        & svg path {
                            transition: .5s;
                            fill: $white;
                        }
                    }
                }
            }
        }
    }


    &__copyright {
        padding-top: 30px;
        text-align: center;
        @include font(#ddd, 20px, 500, normal, 0);
    }
}
// Footer End

@media screen and (max-width: 1400px) {
    .schedule {
        background-position: top 60% right -120%;
    }
}

@media screen and (max-width: 1300px) {
    .home {
        &__header {
            height: 180px;
            padding-bottom: 55px;
	    	background-size: 170%;
    
            &-nav {
                ul {
                    gap: 40px;
                    li {
                        gap: 10px;
                    }
                }
            }
        }
    }

    .schedule {
        background-position: top 60% right -150%;
    }
}


@media screen and (max-width: 1200px) {
    .home {
        @include display-center(center, center);
        flex-direction: column;
        overflow: hidden;
        position: relative;
        
        &__menu {
            width: 50px;
            height: 50px;
            background-color: $black;
            position: absolute;
            border-radius: 50%;
            z-index: 5;
            transform: scale(0);
            transition: 0.5s;

        }

        &__menu-open {
            transform: scale(30);
        }

        &__header {
            height: 180px;
            padding-bottom: 55px;
	    	background-size: 130%;
            z-index: 10 !important;

            .home__header-logo {
                @include display-center(flex-start, center);
            }

            &-rigth {
                display: none;
            }

            &-left {
                display: none;
            }

            &-active {
                width: 100%;
                display: block;
                position: absolute;
                left: 0%;
                z-index: 11;
                @include display-center(center, center);
                flex-direction: column;
                top: 40%;

                ul {
                    column-gap: 50px;
                    flex-direction: column;
                    @include display-center(center, center);
                    animation-name: nav;
                    animation-duration: 1s;
                    animation-iteration-count: 1;
    
                    @keyframes nav {
                        0% {
                            position: relative;
                            bottom: 100px;
                            opacity: 0;
                        }
                        40% {
                            opacity: 0;
                        }
                        100% {
                            position: relative;
                            bottom: 0px;
                            opacity: 1;
                            
                        }
                    }

                    li {
                        &:hover {
                            color: $white;
                        }

                        .round {
                            display: none;
                        }
                    }

                }
            }

            &-active2 {
                margin-top: 127px;
            }

    
            &-burger {
                display: block;
                width: 35px;
                height: 35px;
                
                @include display-center(space-around, center);
                flex-direction: column;
                display: flex;
                z-index: 3;
                overflow: hidden;

                .burger__row {
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    transition: 0.5s;
                }

                .burger__row1-active {
                    transform: rotate(-45deg) translate(-9px, 13px);
                    transition: 0.5s;

                }

                .burger__row2 {
                    position: relative;
                    right: 0px;
                    transition: 0.5s;
                }

                .burger__row2-active {
                    position: relative;
                    right: 100px;
                    transition: 0.5s;
                }
                
                .burger__row3-active {
                    transform: rotate(45deg) translate(-3px, -8px);
                    transition: 0.5s;
                }

            }

        }

        &__main {
            &-container {
                width: 100%;
                height: 200px;
                @include display-center(center, center);
                flex-direction: column;
    
                .home__wave {
                    width: 100%;
                    height: auto;
                    position: absolute;
                    svg {
                        width: 100%;
                        height: auto;
                    }
                }
    
                .home__play {
                    width: 200px;
                    height: 200px;
    
                    &-box {
                        width: 140px;
                        height: 140px;
    
                        .play__btn {
                            width: 80px;
                            height: 80px;
    
                            img {
                                width: 40px;
                                height: 40px;
                            }
    
                        }
                        
                    }
                }
    
            }
    
            &-title {
                @include font($white, 42px, 700, normal, 4.8px);
                margin-top: 40px;
            }
        }

        .home__voice {
            width: 100%;
            height: 10vh;
            @include display-center(center, flex-end);
            flex-direction: column;
            padding: 0 60px;
            position: relative;
            bottom: 20px;
    
            &-box {
                width: 50px;
                height: 50px;
                background-color: $transparent-main;
                border-radius: 10px;
                z-index: 2;
                @include display-center(center, center);
                cursor: pointer;
    
            }
    
            &-animation {
                width: 50px;
                height: 150px;
                border-radius: 10px;
                position: absolute;
                cursor: pointer;
                display: none;
    
                &-main {
                    width: 50px;
                    height: 150px;
                    background-color: $transparent-main;
                    border-radius: 10px;
                    position: relative;
                    bottom: 105px;
                    @include display-center(center, center);
                    cursor: pointer;
    
                   #volme__input {
                    border-radius: 8px;
                    height: 3px;
                    width: 150px;
                    outline: none;
                    -webkit-appearance: none;
                    transform: rotate(-90deg);
                    cursor: pointer;
    
                  }
                  
                  input[type='range']::-webkit-slider-thumb {
                    width: 18px;
                    -webkit-appearance: none;
                    height: 18px;
                    background: #fff;
                    border-radius: 50%;
                    cursor: pointer;
    
                  }
    
                    
                }
            }
    
            &-animation--oepn {
                display: block;
                .home__voice-animation-main {
                    animation-name: volme;
                    animation-duration: 0.5s;
                    animation-iteration-count: 1;
    
                    @keyframes volme {
                        0% {
                            position: relative;
                            bottom: 50px;
                            opacity: 0;
                        }
                        100% {
                            position: relative;
                            bottom: 105px;
                            opacity: 1;
                        }
                    }
                }
            }
    
    
            &-animation--close {
                display: block;
                .home__voice-animation-main {
                    animation-name: volme2;
                    animation-duration: 0.5s;
                    animation-iteration-count: 1;
                    opacity: 0;
    
                    @keyframes volme2 {
                        0% {
                            position: relative;
                            bottom: 105px;
                            opacity: 1;
                        }
                        100% {
                            position: relative;
                            bottom: 50px;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .schedule {
        padding: 140px 60px;
        background-position: top 88% center;
        background-size: auto 600px;

        &__wrapper {
            flex-direction: column;
            row-gap: 50px;

            .schledule__content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &-title {
                    font-size: 32px;
                }

                &-description {
                    text-align: center;
                }
            }

            .schedule__box-wrapper {
                width: 100%;

                .schedule__box-line {
                    &--right {
                        position: absolute;
                        display: block;
                        right: 0;
                    }
                }

                .schedule__box {
                    padding: 20px;

                    &::-webkit-scrollbar {
                        margin: 0 20px;
                    }
                    
                    &::-webkit-scrollbar-track {
                        margin: 0 20px 0 20px;
                        background: #ddd;
                        border-radius: 10px;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        margin: 0 20px 0 20px;
                    }
                    
                    &::-webkit-scrollbar-thumb:hover {
                        margin: 0 20px 0 20px;
                    }

                }
            }
        }

        &__cta {
            margin: 30px 30px 0 30px;
            display: block;
        }
    }
}



@media screen and (max-width: 1000px) {
    .home {
        &__header {
            width: 100%;
            height: 100px;
            background-size: 130%;
            padding-bottom: 0px;
            background-image: none;
            background-color: rgba(0, 0, 0, 0.45);
            padding-top: 10px;

        }

        &__main {
		height: calc(90vh - 100px);
            &-title {
                @include font($white, 36px, 700, normal, 4px);
                margin-top: 35px;
            }

            &-descripton {
                @include font($white, 28px, 300, normal, 4px);
            }
        }
    }

    .team {
        background-position: center;
    }

    .footer {
        &__wrapper {
            @include display-center(center, center);
            flex-direction: column;

            .footer__info {
                width: 100%;
                @include display-center(center, center);
                flex-direction: column;

                &-description {
                    text-align: center;
                    max-width: 100%;
                }
            }

            .footer__list {
                @include display-center(center, center);
                flex-direction: column;

                &-title {
                    margin-bottom: 25px;
                    font-size: 28px;
                }

                .footer__item {
                    font-size: 20px;
                }
            }
        }

        &__copyright {
            font-size: 18px;
        }
    }
}


@media screen and (max-width: 700px) {

    :root {
        --wave-lg: 100px;
        --wave-md: 80px;
        --wave-sm: 30px;
      }

    .bar__none {
        display: none;
    }

    .home {
        &__header {
            padding: 0 30px;
        
            &-logo {
               img {
                width: 150px;
               }
            }
        }

        &__main {
            width: 100%;
            @include display-center(center, center);
            flex-direction: column;
            &-container {
                width: 100%;
                height: 300px;
                @include display-center(center, center);
                flex-direction: column;
    
                .visualaiser__container{
                            .bar {
                              background: $main; 
                              margin: 0 1.5px;
                              width: 6px; 
                              z-index: 20;

                            }
                          }


            }

            &-title {
                @include font($white, 32px, 700, normal, 4px);
                margin-top: 35px;
                padding: 0 30px;

            }

            &-descripton {
                @include font($white, 28px, 300, normal, 4px);
                padding: 0 30px;
            }
        }

        .home__voice {
            padding: 0 30px;
        }
    }

    .schedule {
        padding: 140px 0;

        &__wrapper {
            .schledule__content {
                padding: 0 30px;

                &-title {
                    font-size: 28px;
                }
            }

            .schedule__box-wrapper {

                .schedule__box-line {
                    display: none;
                }

                .schedule__box {
                    .schedule__card {
                        width: 500px;
                        height: 230px;

                        &__title-container {
                            .schedule__card__title-circle {
                                min-width: 24px;
                                min-height: 24px;
                                border: 8px solid $main;
                            }
                        }

                        &-description {
                            margin-left: 40px;
                        }
    
                        &-repeat {
                            margin-left: 40px;
                        }
                    }
                }
            }
        }
    }

    .about-us {
        padding: 80px 30px;

        &__destiption {
            @include font($white, 20px, 500, normal, normal);
            margin-top: 25px;
        }
    }


    .team {
        padding: 0 30px 140px;
    }

    .partners {
        padding: 140px 30px;
        margin-bottom: 140px;
    }

    

    .footer {
        padding: 120px 0 30px;

        &__wrapper {
            padding: 0 30px 140px;

            .footer__info {
                &-description {
                    font-size: 20px;
                }
            }

            .footer__list {
                &-title {
                    font-size: 24px;
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {

    // :root {
    //     --wave-lg: 100px;
    //     --wave-md: 80px;
    //     --wave-sm: 30px;
    //   }

    .bar__none2 {
        display: none;
    }
    .home {

        &__main {
            &-container {
                width: 100%;
                height: 200px;
                @include display-center(center, center);
                flex-direction: column;

                .visualaiser__container{
                    .bar {
                      background: $main; 
                      margin: 0 1.5px;
                      width: 5px; 
                      z-index: 20;

                    }
                  }

                .home__play {
                    width: 165px;
                    height: 165px;
    
                    &-box {
                        width: 120px;
                        height: 120px;
    
                        .play__btn {
                            width: 70px;
                            height: 70px;
    
                            img {
                                width: 35px;
                                height: 35px;
                            }
    
                        }
                        
                    }
                }
    
            }
            &-title {
                @include font($white, 28px, 700, normal, 4px);
                margin-top: 30px;

            }

            &-descripton {
                @include font($white, 24px, 300, normal, 4px);
            }
        }


    }


    .schedule {
        &__wrapper {
            .schledule__content {
                &-title {
                    font-size: 24px;
                }
                
                &-btn {
                    width: 100%;
                    height: 76px;
    
                    &-circle {
                        top: -25px;
                        right: -25px;
                        width: 60px;
                        height: 60px;
                        border: 10px solid $white;
                        border-radius: 50%;
                    }
                }
            }

            .schedule__box-wrapper {
                .schedule__box {
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);


                    &::-webkit-scrollbar {
                        margin: 0 20px;
                    }
                    
                    &::-webkit-scrollbar-track {
                        margin: 0 20px 0 20px;
                        background: #ddd;
                        border-radius: 10px;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        margin: 0 20px 0 20px;
                    }
                    
                    &::-webkit-scrollbar-thumb:hover {
                        margin: 0 20px 0 20px;
                    }


                    .schedule__card {
                        padding: 20px;

                        width: 260px;
                        height: 340px;

                        &__title-container {
                            .schedule__card__title-circle {
                                display: none;
                            }
                        }

                        &-description {
                            margin-left: 0px;
                        }
    
                        &-repeat {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
    
    .about-us {
        padding: 60px 30px;

        &__descripton {
            @include font($white, 18px, 500, normal, normal);
            margin-top: 15px;
        }
    
        a {
            margin-top: 35px;
            img {
                width: 100%;
            }
        }
    }

    .team {
        &__wrapper {
            .team__member {
                width: 260px;
                height: 370px;


                &-position {
                    margin-top: 15px;
                    font-size: 15px;
                }
    
                &-name {
                    margin-top: 10px;
                   font-size: 20px;
                }

                
                &-instagram {
                    margin-top: 20px;
                    @include font($main, 20px, 600, normal, 0);
                }
            }
        }
    }


    .footer {
        padding: 120px 0 30px;

        &__wrapper {
            .footer__info {
                &-logo {
                    width: 260px;
                }
            }

            .footer__list {
                .footer__item {
                    font-size: 18px;

                    .footer__contact {
                        column-gap: 10px;
                        text-align: center;

                        & svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }

        &__copyright {
            font-size: 16px;
        }
    }
}