// Base
@import "./base/reset";
@import "./base/variables";
@import "./base/mixin";
@import "./base/base";



// Home Start
// Home End



// Schedule Start
.schedule {
    margin-bottom: 140px;
    padding: 0 0 0 60px;

    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    &__wrapper {
        @include display-center(space-between, center);

        .schledule__content {


            &-title {
                margin-bottom: 20px;
                @include font($black, 36px, 600, normal, 0);
            }

            &-description {
                margin-bottom: 50px;
                max-width: 640px;
                @include font($black-light, 20px, 500, normal, 0);
            }

            &-btn {
                position: relative;
                overflow: hidden;
                width: 400px;
                height: 76px;
                transition: .5s;


                &:hover {
                    transition: .5s;

                    .schledule__content-btn-circle {
                        transition: .5s;
                        border: 10px solid #ddd;
                    }
                }

                &-circle {
                    position: absolute;
                    top: -25px;
                    right: -25px;
                    width: 68px;
                    height: 68px;
                    border: 10px solid $white;
                    border-radius: 50%;
                }
            }
        }

        
        .schedule__box-wrapper {
            position: relative;
            overflow-x: auto;
            
            .schedule__box-line {
                position: absolute;
                top: 20px;
                left: 0;
                height: 470px;
                width: 5px;
                background-color: $main;
                border-radius: 10px;    
            }

            .schedule__box {
                width: 700px;
                padding: 20px 60px 20px 20px;
                border-left: $main;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 30px;
                overflow-x: auto;

                &::-webkit-scrollbar {
                    margin: 0 60px 0 20px;
                    height: 8px;
                }
                
                &::-webkit-scrollbar-track {
                    margin: 0 60px 0 20px;
                    background: #ddd;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                    margin: 0 60px 0 20px;
                    background: $main;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb:hover {
                    margin: 0 60px 0 20px;
                    background: #a60101;
                }



                .schedule__card {
                    padding: 20px;
                    width: 550px;
                    height: 220px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;


                    &__title-container {
                        display: flex;
                        justify-content: start;
                        align-items: center;

                        column-gap: 15px;
                        @include font($black, 20px, 500, normal, 0);

                        .schedule__card__title-circle {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            border: 10px solid $main;
                        }
                    }


                    &-description {
                        margin-left: 45px;
                        @include font(rgba(0, 0, 0, 0.60), 16px, 500, normal, 0);
                    }

                    &-repeat {
                        margin-left: 45px;
                            @include font($black, 16px, 500, normal, 0);

                        &--bold {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

    }
}
// Schedule End



// About Us Start
// About Us End



// Team Start
// Team End



// Partners Start
// Partners End



// Footer Start
// Footer End