@import "./variables";
@import "./mixin";


body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden
}

.animation-show {
    opacity: 1 !important;
    transition: 0.5s;
}

.animation-show1 {
    transform: translateX(-100px);
    opacity: 0 !important;
    transition: 0.5s;
}

.animation-show2 {
    transform: translateX(100px);
    opacity: 0 !important;
    transition: 0.5s;
}

.animation-show3 {
    transform: translateY(100px);
    opacity: 0 !important;
    transition: 0.3s;
}


::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $main;
  }

.overflow-hidden {
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.wrap-hidden {
    overflow: hidden
}

.secondary-title {
    // @include font($black, 48px, 700, normal, 0);
    @include font($black, 64px, 700, normal, 0);
}

.main-btn {
    @include display-center(center, center);
    column-gap: 10px;
    background-color: $main;
    border-radius: 10px;
    border: none;
    // @include font($white, 20px, 500, normal, 0);
    @include font($white, 28px, 500, normal, 0);
    transition: .5s;


    &:hover {
        color: #ddd;
        transition: .5s;
        background-color: #a60101;

        & svg path {
            transition: .5s;
            fill: #ddd;
        }
    }
}


@media screen and (max-width: 2000px) {
    .secondary-title {
        font-size: 56px;
    }
}

@media screen and (max-width: 1700px) {
    .secondary-title {
        font-size: 48px;
    }

    .main-btn {
        font-size: 20px;
    }
    
}



@media screen and (max-width: 1200px) {
    .secondary-title {
        font-size: 42px;
    }
}


@media screen and (max-width: 1000px)  {
    .secondary-title {
        font-size: 36px;
    }
}


@media screen and (max-width: 700px) {
    .secondary-title {
        font-size: 32px;
    }
}


@media screen and (max-width: 500px) {
    .secondary-title {
        font-size: 28px;
    }
}

