@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');

@mixin font($color, $size, $weight, $line, $spacing) {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
    letter-spacing: $spacing;
    color: $color;
}

@mixin display-center($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}